body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container_gambar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 500px;
    max-width: 1200px;
}

.gambar_1 {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.gambar_2 {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.gambar_3 {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.gambar_4 {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.gambar_5 {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.gambar_6 {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

